In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Salary_Data.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
y = df.iloc[:,1]
X = df.iloc[:,0:1]

In [5]:
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
model.predict([[3.3]])

array([56977.07585947])

In [7]:
model.intercept_

25792.200198668696

In [8]:
model.coef_

array([9449.96232146])

In [9]:
sal = 3.3*9449.96232146 + 25792.20019866869

In [10]:
sal

56977.075859486686